GENENGINE_AUTHORING_URL=http://localhost:5201
GENENGINE_PLAY_URL=http://localhost:5202
GENENGINE_IDENTITY_URL=http://localhost:5203
GENENGINE_CONFIGURATION_URL=http://localhost:5204
GENENGINE_PLAYER_EXPERIENCE_URL=http://localhost:5205
GENENGINE_ORGANIZATION_URL=http://localhost:5206
ENTRA_CLIENT_SECRET=
